<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin Page</title>
<link rel ="stylesheet" type="text" href="admin.css">
</head>
<body>
     <p>Admin Page</p>
    <form action="addsong">
    <input type ="submit" value ="AddSong" />
    </form>
    <br><br>
    <form action="veiwsongs">
    <input type ="submit" value ="VeiwSong" />
    </form>
    <br><br>
    <form action="veiwplaylist">
    <input type ="submit" value ="Veiw PlayList" />
    </form>
     <br><br>
    <form action="createplaylists">
    <input type ="submit" value ="Create Playlist" />
    </form>
    <br><br>
    <form action ="logout">
    <input type ="submit" value ="Logout" />
    </form>
</body>
</html>